@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "JetBrains Mono", sans-serif;
}

@layer components {
  .App {
    @apply w-screen flex justify-center;
  }
  .Index {
    @apply w-1/2 mt-12 flex flex-col gap-12;
  }
  .Tab {
    @apply p-2 rounded cursor-pointer hover:bg-Tab;
  }
  .TabFocused {
    @apply p-2 text-Green font-extrabold border-b-2 cursor-pointer;
  }
  .Content {
    @apply w-full p-6 flex flex-col justify-center rounded;
  }
  .ContentHeader {
    @apply flex justify-center text-3xl font-extrabold;
  }
}
