@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "JetBrains Mono", sans-serif;
}

@layer components {
  .App {
    @apply flex justify-center;
  }

  .Index {
    @apply w-1/2 mt-12 flex flex-col gap-12;
  }

  .Biography {
    @apply flex flex-col gap-12;
  }
  .SocialIcon {
    @apply p-2 rounded hover:bg-DarkGrey;
  }

  .Tab {
    @apply p-2 rounded cursor-pointer hover:bg-DarkGrey;
  }
  .TabFocused {
    @apply p-2 text-Green font-extrabold border-b-2 cursor-default;
  }
  .Content {
    @apply w-full p-6 flex flex-col gap-12 justify-center rounded;
  }
  .ContentHeader {
    @apply flex justify-center text-3xl font-extrabold uppercase;
  }
  .ContentSub {
    @apply text-sm text-center text-Grey italic;
  }

  .TimelineBar {
    @apply h-full w-2 flex items-center bg-DarkGrey;
  }
  .TimelinePin {
    @apply h-1/3 w-full bg-Green rounded-full;
  }
  .TimelineContent {
    @apply w-full pl-12 flex flex-col justify-center;
  }

  .Repository {
    @apply p-4 flex flex-col gap-8 border-2 border-DarkGrey rounded hover:border-Grey;
  }
}
